@font-face {
	font-family: fontawsomeenhancv;
	src: url(resources/fonts/51840ab8589b267acb4aabb65e7cbf60.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Inter UI;
	src: url(resources/fonts/3ca46ee35e2e0a102cb63a64629ff935.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Inter UI;
	src: url(resources/fonts/86c6d121f1d396c123e9f2b0b18040a0.woff) format("woff");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: Inter UI;
	src: url(resources/fonts/0a1242bedd6453e33ea8bfb1a7fb2af4.woff) format("woff");
	font-weight: 600;
	font-style: normal;
}

[data-icon]:before {
	content: attr(data-icon);
}

[class*=" icon-"]:before, [class^=icon-]:before, [data-icon]:before {
	font-family: fontawsomeenhancv !important;
	font-style: normal !important;
	font-weight: 400 !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class*=" icon-"], [class^=icon-], [data-icon] {
	display: inline-block;
}

.icon-05-pin-map:before {
	content: "+";
}

.icon-17-link:before {
	content: ">";
}

.icon-26-linkedin:before {
	content: "6";
}

.icon-40-free-calendar:before {
	content: "~";
}

.icon-42-free-call-phone:before {
	content: "#";
}

.icon-88-certificate-01:before {
	content: "D";
}

.icon-dot-1:before {
	content: "-";
}

.icon-email-01:before {
	content: "_";
}

.icon-file-pdf-o:before {
	content: "\E10F";
}

.icon-flickr:before {
	content: "\E0CA";
}

.icon-github-square:before {
	content: "\E0D5";
}
